/* tax-payer-type-edit-modal.component.scss */

:host {
  display: block;
}

.edit-document-type-container {
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  margin-bottom: 16px;
  color: #007bff;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;

  input {
    width: 100%;
  }
}

mat-checkbox {
  margin-bottom: 16px;
}

.button-container {
  display: flex;
  justify-content: space-between;

  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }
}

/* Agrega otros estilos según sea necesario */
