<!-- edit-entity.component.html -->
<div class="edit-entity-container">

  <h2>Editar Entidad</h2>

  <p>ID: {{ entity.id }}</p>

  <mat-form-field>
    <mat-label>Número de Documento</mat-label>
    <input matInput [(ngModel)]="entity.documentNumber" name="documentNumber" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Razón Social</mat-label>
    <input matInput [(ngModel)]="entity.businessName" name="businessName" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nombre Comercial</mat-label>
    <input matInput [(ngModel)]="entity.commercialName" name="commercialName" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Dirección</mat-label>
    <input matInput [(ngModel)]="entity.address" name="address" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Teléfono</mat-label>
    <input matInput [(ngModel)]="entity.phone" name="phone" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Seleccionar Tipo de Documento</mat-label>
    <mat-select [(value)]="selectedDocumentType" name="documentType">
      <mat-option *ngFor="let type of documentTypes" [value]="type">
        {{ type.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Seleccionar Tipo de Contribuyente</mat-label>
    <mat-select [(value)]="selectedTaxPayerType" name="taxPayerType">
      <mat-option *ngFor="let type of taxPayerTypes" [value]="type">
        {{ type.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox [(ngModel)]="entity.status" name="status">Activo</mat-checkbox>

  <div class="button-container">
    <button mat-button (click)="onSave()">Guardar</button>
    <button mat-button (click)="onClose()">Cerrar</button>
  </div>

</div>
